{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <title>Chatto</title>
</head>
<body>
    <div class="typewriter">
        <h1 id="title">Chatto</h1>
    </div>
    <p id="description">The random chat for random talks!</p>
    <p>Standard Room: {{ openin }}</p>
    <div id="messages">
    </div>
    <form id="form">
        <input type="text" name="message" id="message">
    </form>

    <script>
        function scrollDown() {
            window.scrollBy(0, 5); // Ajuste o valor (0, 5) para controlar a velocidade de rolagem
            setTimeout(scrollDown, 10); // Ajuste o valor do timeout conforme necessário para a velocidade desejada
        }

        let url = `ws://${window.location.host}/ws/socket-server/`
        const chatSocket = new WebSocket(url)
        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)
            if(data.type === 'chat'){
                let date = new Date()
                let messages = document.getElementById('messages')
                messages.insertAdjacentHTML('beforeend', `
                    <div class="message-card">
                        <div class="message-header">
                            <p class="username">{{ request.session.username }}</p>
                            <p>${date.getHours()}:${date.getMinutes()}</p>
                        </div>
                        <p>${data.message}</p>
                    </div>
                `)
                messages.scrollTop = messages.scrollHeight;
            }
        }

        let form = window.document.getElementById('form')
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            let message = e.target.message.value
            chatSocket.send(JSON.stringify({
                'message': message
            }))
            form.reset()
        })
    </script>
</body>
</html>